    <li class="otherRecipe">
        <h3>Name: {{name}}</h3>
        <p>Category: {{category}}</p>
        <p class="img"><img src="{{imageUrl}}" /></p>
        <a class="button" href="/details/{{_id}}">Details</a>
    </li>
